* {
    background-color: lightblue;
}

#title {
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
}

.dishintro {
    text-align: center;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.dishimage {
    height: auto;
    width: 400px;
}

.ingredients,
.ingredients h2,
.ingredients ul,
.ingredients li {
    background-color: rgb(254, 254, 204);
    text-align: center;
}

.steps,
.steps h2,
.steps ol,
.steps li {
    background-color: white;
}